@use "sass:map";

$primary:#5265E1;
$secondary: #FA5959;
$navy: #242946;

$font-size-base: 1.15rem;
$nav-link-font-size: 0.85rem;
$btn-font-size: 0.9rem;
$margin-card: 5%;

$accordion-border-radius: none;
$accordion-button-icon: url("../../images/icon-arrow.svg");
$accordion-button-active-icon: url("../../images/icon-close.svg");
$border-widths-mod: 1px 0px 1px 0px;
$accordion-padding-y: 1.25rem;
$btn-padding-y: 0.6rem;

$form-feedback-icon-invalid: url("../../images/icon-error.svg");
$form-feedback-invalid-color: white;

/* BOOTSTRAP */

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/*  Exercici 1 */

#hero-image {
    width: 113.5%;
    max-width: 650px;
    left: 50%;
    transform: translateX(-50%);
  }


.background-shape {
  position: absolute;
  height: 75%;
  width: 100%;
  top: 30%;  
}

.left-shape{
  left: 30%;
  border-radius: 150px 0 0 150px;
}

.no-borders {
  border: none;
}

@include media-breakpoint-up(lg){
  .tanca{
    padding-bottom: 10%;
  }
}

/* Exercici 2 */

.tabs-custom{
  border-bottom: none 0px;
}

.tab-custom {
  background-color: none;
  border-bottom: solid 2px grey;
  padding-bottom: 1%;
}

.tab-custom a{
  color: grey;
}

.tab-custom-active {
  border-bottom: solid 4px $secondary;
  padding-bottom: 1%;
}

.tab-custom-active a{
  color: black;
  font-weight:bold;
}

.right-shape {
  right: 30%;
  border-radius: 0 150px 150px 0;
}

@include media-breakpoint-down(lg){
    .tabs-custom{
      width:80%;
      display: flex;
      margin: auto;
    }
    
    .tab-custom {
      width:100%;
      background-color: none;
      border-bottom: solid 1px grey;
      padding: 2% 0;
    }
    
    .tab-custom a{
      color: grey;
      text-align: center;
    }
    
    .tab-custom-active {
      width:100%;
      border-top: solid 1px grey;
      border-bottom: solid 1px grey;
      padding: 2% 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    
    .tab-custom-active a{
      color: black;
      font-weight:bold;
      text-align: center;
      border-bottom: solid 2px $secondary;
    }
    .border-active {
      width:50%;
      height: 4px;
      background-color: $secondary;
      margin: auto;
      padding: none;
    }
}

/* Exercici 3 */

.browser{
  width: 100px;
  height: 100px;
}

.card{
  max-height: 340px;
}

.card:nth-child(1){
  margin-top: $margin-card * 0
 }

 .card:nth-child(2){
  margin-top: $margin-card * 1
 }

 .card:nth-child(3){
  margin-top: $margin-card * 2
 }

 /* Exercici 4 */

 .accordion-borders-1-0{
  border-width: $border-widths-mod !important;
}

/* Exercici 5*/

footer{
  background-color: #5265E1;
  color:white;
  padding: auto;
}

@include media-breakpoint-up(lg){
  .footer-content{
    margin: auto 36%;
  }
}

.was-validated .email:invalid{
  border: solid 2px $secondary;
  border-radius: 5px 5px 0 0;
}

.invalid-feedback {
  border: solid 2px $secondary;
  background-color: $secondary;
  border-radius: 0 0 5px 5px;
  margin: 0;
}

.navy{
  background-color: $navy;
  color: white;
}

.link-foot{
  font-size: unset;
  color:white;
  text-decoration:none;
  margin:auto;
}

/*Exercici 7 */

$cards: 3;

 @include media-breakpoint-up(lg) {
  @for $card from 1 through $cards {
    .card:nth-child(#{$card}) {
      margin-top: calc(5% * calc($card - 1));
    }
  }
}
