$primary:#5265E1;
$secondary: #FA5959;

$font-size-base: 1.15rem;
$nav-link-font-size: 0.85rem;
$btn-font-size: 0.9rem;

/* BOOTSTRAP */

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/*  Exercici 1 */

#hero-image {
    width: 113.5%;
    max-width: 650px;
    left: 50%;
    transform: translateX(-50%);
  }


.background-shape {
  position: absolute;
  height: 75%;
  width: 100%;
  top: 30%;
  left: 30%;
  border-radius: 150px 0 0 150px;
}